<!DOCTYPE html>
<html>

<head>
  <title>
    <%= tagTittle %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>
    <%= description %>
  </p>
  <p>Si quieres acceder a la documenación haz click
    <a href="<%= doc %>">aquí</a>
  </p>
</body>

</html>